@using StsServerIdentity.Resources
@using Microsoft.AspNetCore.Identity
@inject LocService SharedLocalizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model MfaModel
@{
    ViewData["Title"] = "Login with FIDO2 MFA";
}

<h4>@ViewData["Title"]</h4>
<br />
<div class="section">
    <div class="container">
        <div class="notification is-danger" style="display:none">
            Please note: Your browser does not seem to support WebAuthn yet. <a href="https://caniuse.com/#search=webauthn" target="_blank">Supported browsers</a>
        </div>

        <button class="btn btn-primary" id="signin">MFA using FIDO2</button>

        <div id="fido2logindisplay"></div>

    </div>
</div>

<script src="~/js/helpers.js"></script>
<script src="~/js/instant.js"></script>
<script src="~/js/mfa.login.js"></script>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}